<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content" data-menu="business-6-2">
    <div sec:authorize="isAuthenticated()">
        <div class="title">
            <h2>평가지 관리</h2>
        </div>

        <div class="tableLeftResponsive">
            <table class="tableLeft">
                <colgroup>
                    <col style="width: 200px">
                    <col style="width: auto">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">등록일</th>
                        <td>
                            <div class="bl_dateRange">
                                <input type="text" id="startDate" class="el_datePicker sdate">
                                <span class="blank">~</span>
                                <input type="text" id="endDate" class="el_datePicker edate">
                            </div>
                        </td>
                        <th scope="row">상태</th>
                        <td>
                            <select id="bizSurveyStts" class="common_select">
                                <option value="">전체</option>
                                <option value="1">사용</option>
                                <option value="0">사용안함</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">평가지명</th>
                        <td colspan="3">
                            <input id="containText" type="text" class="hp_w600">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bl_gridBtns">
            <div class="bl_gridBtns_md">
                <div class="btn btnDefault btnReset">리셋</div>
                <div class="btn btnDefault btnSearch" onclick="search()">검색</div>
                <a href="/business/survey/list/" class="btn btnDefault btnRegister">등록</a>
            </div>
        </div>

        <!-- BOARD : CONTROLLER -->
        <div class="bl_boardCtrls">
            <div class="bl_boardCtrls_lft">
                <p class="bl_boardCtrls_total">총: <strong th:text="${pageable.totalElements}">1</strong>건</p>
            </div>
            <div class="bl_boardCtrls_rgt">
                <a href="/api/business/survey/list/excel" class="btn btnDefault download_excel download_search">excel 다운로드</a>
                <select class="common_select" data-list="countSortList"></select>
            </div>
        </div>

        <div class="tableResponsive overflowMulti">
            <table class="table">
                <colgroup>
                    <col style="width: 50px">
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">구분</th>
                        <th scope="col">평가지명</th>
                        <th scope="col">상태</th>
                        <th scope="col">등록일</th>
                    </tr>
                </thead>
                <tbody th:if="${content != null && content.size > 0}">
                    <tr th:each="item,stat : ${content}">
                        <td th:text="${pageable.totalElements - ((pageable.page * pageable.size) + stat.index)}"></td>
                        <td>
                            <span th:if="${item.bizSurveyCtgr == 2}">기관평가</span>
                            <span th:if="${item.bizSurveyCtgr == 1}">강사평가</span>
                        </td>
                        <td>
                            <a th:href="@{/business/survey/list/{id}(id=${item.bizSurveyNo})}" th:text="${item.bizSurveyNm}">강사평가지</a>
                        </td>
                        <td>
                            <span class="color_blue" th:if="${item.bizSurveyStts == 1}">사용</span>
                            <span class="color_red" th:if="${item.bizSurveyStts == 0}">사용안함</span>
                        </td>
                        <td th:text="${item.createDateTime}">2022.09.01</td>
                    </tr>
                </tbody>
                <tbody th:unless="${content != null && content.size > 0}">
                <tr class="empty_data"><td colspan="5">조회된 내용이 없습니다.</td></tr>
                </tbody>
            </table>
        </div>

        <div class="bl_paginate"></div>
    </div>
    <div sec:authorize="!isAuthenticated()"></div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            function search(){
                let searchQuery = {}
                let sDate = $("#startDate").val()
                let eDate = $("#endDate").val()
                let bizSurveyStts = $('#bizSurveyStts').val();
                if(sDate && eDate){
                    searchQuery.startDate= sDate;
                    searchQuery.endDate= eDate;
                }else if(sDate||eDate){
                    alert('등록일은 검색 시작일과 종료일을 모두 입력해야 합니다.')
                }
                if($("#containText").val()){
                    searchQuery.containText=$("#containText").val();
                    searchQuery.containTextType=1;
                }
                if(bizSurveyStts){
                    searchQuery.bizSurveyStts=bizSurveyStts ;
                }
                searchJson(searchQuery);
            }
            /* <![CDATA[ */
            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
                pagination([[ ${pageable} ]], false)
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>
