<!DOCTYPE html>
<html lang="ko"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/include :: include"></th:block>
</head>
<body>
    <div layout:fragment="pop"></div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /* <![CDATA[ */
            window.onload = function () {
                if ([[ ${errorMessage}]]) { alert([[ ${errorMessage}]]); }
                if ([[${#authentication.name}]] === "anonymousUser") {
                    const loginForm = document.querySelector('#loginForm');
                    const loginButton = document.querySelector('#loginButton');
                    loginButton.addEventListener('click', function () {
                        loginForm.submit();
                    });
                }
                onLoadSubmit();
            }
            /* ]]> */
        </script>
    </th:block>
</body>
</html>
