<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content" data-menu="user-3">
    <div sec:authorize="isAuthenticated()">
        <div class="title">
            <h2>관리자 관리</h2>
        </div>

        <div class="tableLeftResponsive" th:each="item: ${content}">
            <table class="tableLeft">
                <colgroup>
                    <col style="width: 200px">
                    <col style="width: auto">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row"><span class="el_required">*</span>권한</th>
                        <td colspan="3">
                            <select id="roleGroup" class="common_select" not_null="true" alert_name="권한">
                                <th:block th:if="${roleGroups != null}" th:each="role: ${roleGroups}">
                                    <option th:text="${role.roleGroupName}" th:value="${role.roleGroupCode}" th:selected="${item.roleGroup == role.roleGroupCode}"></option>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><span class="el_required">*</span>이름</th>
                        <td>
                            <input id="userName" type="text" class="hp_w400" th:value="${item.userName}" not_null="true" alert_name="이름" placeholder="홍길동">
                        </td>
                        <th scope="row"><span class="el_required">*</span>아이디</th>
                        <td th:text="${item.userId}">test123</td>
                    </tr>
                    <tr>
                        <th scope="row">비밀번호</th>
                        <td>
                            <input id="password" type="password" class="hp_w400">
                        </td>
                        <th scope="row">비밀번호 재입력</th>
                        <td>
                            <input id="password2" type="password" class="hp_w400">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">본/지사, 팀</th>
                        <td>
                            <select id="department" class="common_select">
                                <th:block th:each="commonCode : ${commonCode}" th:if="${commonCode.code} == 'PROVINCE_CD'">
                                    <option th:each="provinces : ${commonCode.subCode}" th:selected="${provinces.code} == ${item.department}"
                                          th:text="${provinces.codeName}" th:value="${provinces.code}"></option>
                                </th:block>
                            </select>
                            <select id="position" class="common_select">
                                <th:block th:each="commonCode : ${commonCode}" th:if="${commonCode.code} == 'TEAM_CTGR'">
                                    <option th:each="categories : ${commonCode.subCode}" th:selected="${categories.code} == ${item.position}"
                                            th:text="${categories.codeName}" th:value="${categories.code}"></option>
                                </th:block>
                            </select>
                        </td>
                        <th scope="row">이메일</th>
                        <td>
                            <input id="email" type="text" class="hp_w400" th:value="${item.email}" placeholder="abc@gmail.com">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">유선번호</th>
                        <td>
                            <input id="telNo" type="text" class="hp_w400" th:value="${item.telNo}" placeholder="0200000000">
                        </td>
                        <th scope="row"><span class="el_required">*</span>휴대폰번호</th>
                        <td>
                            <input id="phone" type="text" class="hp_w400" th:value="${item.phone}" not_null="true" alert_name="휴대폰번호" placeholder="01000000000">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">허용 IP</th>
                        <td>
                            <input id="availableIp" type="text" class="hp_w400" th:value="${item.availableIp}">
                        </td>
                        <th scope="row">로그인잠금</th>
                        <td>
                            <select id="isLock" class="common_select" not_null="true" alert_name="로그인잠금">
                                <option value="true" th:selected="${item.isLock == true}">Y</option>
                                <option value="false" th:selected="${item.isLock == false}">N</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">회원상태</th>
                        <td colspan="3">
                            <select id="state" class="common_select" not_null="true" alert_name="회원상태">
                                <option value="1" th:selected="${item.state == '1'}">사용</option>
                                <option value="0" th:selected="${item.state == '0'}">사용안함</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tableLeftResponsive" th:if="${content == null}">
            <table class="tableLeft">
                <colgroup>
                    <col style="width: 200px">
                    <col style="width: auto">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row"><span class="el_required">*</span>권한</th>
                    <td colspan="3">
                        <select id="roleGroup" class="common_select" not_null="true" alert_name="권한">
                            <th:block th:if="${roleGroups != null}" th:each="role: ${roleGroups}">
                                <option th:value="${role.roleGroupCode}" th:text="${role.roleGroupName}"></option>
                            </th:block>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><span class="el_required">*</span>이름</th>
                    <td>
                        <input id="userName" type="text" class="hp_w400" not_null="true" alert_name="이름">
                    </td>
                    <th scope="row"><span class="el_required">*</span>아이디</th>
                    <td>
                        <input id="userId" type="text" class="hp_w400" not_null="true" alert_name="아이디">
                    </td>
                </tr>
                <tr>
                    <th scope="row"><span class="el_required">*</span>비밀번호</th>
                    <td>
                        <input id="password" type="password" class="hp_w400" not_null="true" alert_name="비밀번호">
                        <div class="guide_text">※ 8자리 이상 영문, 숫자, 특수문자 중 3가지 이상으로 조합</div>
                    </td>
                    <th scope="row"><span class="el_required">*</span>비밀번호 재입력</th>
                    <td>
                        <input id="password2" type="password" class="hp_w400" not_null="true" alert_name="비밀번호 재입력">
                        <div class="guide_text">※ 8자리 이상 영문, 숫자, 특수문자 중 3가지 이상으로 조합</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">본/지사, 팀</th>
                    <td>
                        <select id="department" class="common_select">
                            <th:block th:each="commonCode : ${commonCode}" th:if="${commonCode.code} == 'PROVINCE_CD'">
                                <option th:each="provinces : ${commonCode.subCode}" th:text="${provinces.codeName}" th:value="${provinces.code}"></option>
                            </th:block>
                        </select>
                        <select id="position" class="common_select">
                            <th:block th:each="commonCode : ${commonCode}" th:if="${commonCode.code} == 'TEAM_CTGR'">
                                <option th:each="categories : ${commonCode.subCode}" th:text="${categories.codeName}" th:value="${categories.code}"></option>
                            </th:block>
                        </select>
                    </td>
                    <th scope="row">이메일</th>
                    <td>
                        <input id="email" type="text" class="hp_w400" placeholder="abc@gmail.com">
                    </td>
                </tr>
                <tr>
                    <th scope="row">유선번호</th>
                    <td>
                        <input id="telNo" type="text" class="hp_w400" placeholder="020000000">
                    </td>
                    <th scope="row"><span class="el_required">*</span>휴대폰번호</th>
                    <td>
                        <input id="phone" type="text" class="hp_w400" not_null="true" alert_name="휴대폰번호" placeholder="01000000000">
                    </td>
                </tr>
                <tr>
                    <th scope="row">허용 IP</th>
                    <td colspan="3">
                        <input id="availableIp" type="text" class="hp_w400">
                    </td>
                </tr>
                <tr>
                    <th scope="row"><span class="el_required">*</span>회원상태</th>
                    <td colspan="3">
                        <select id="state" class="common_select" not_null="true" alert_name="회원상태">
                            <option value="1" selected>사용</option>
                            <option value="0">사용안함</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- GRID : BUTTON -->
        <div class="bl_gridBtns">
            <div class="bl_gridBtns_rgt">
                <a href="/user/admin-user" class="btn btnDefault btnList">목록</a>
                <a id="update_btn" th:unless="${content == null}" th:onclick="update()" class="btn btnDefault btnModify">수정</a>
                <a id="create_btn" th:if="${content == null}" th:onclick="create()" class="btn btnDefault btnModify">등록</a>
            </div>
        </div>
    </div>
    <div sec:authorize="!isAuthenticated()"></div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            option_hide();

            let view = window.location.search;
            if(view != ''){
                $("#update_btn").hide();
                $("input").attr("readonly",true);
                $("select").attr("disabled","disabled");
            }
            function update(){
                if(nullCheck()){
                    let params = getFormData();
                    params.password = null;
                    params.newPassword = null;
                    $.ajax({
                        type: "put", //http method
                        url: "/api/user/admin-user/update",
                        headers: {'Content-Type': 'application/json'},
                        data: JSON.stringify(params),
                        dataType: "json",
                        success: function (res){
                            //비밀번호 변경
                            if ($('#password').val()) {
                                params.password=$('#password').val();
                                params.newPassword=$('#password').val();
                                $.ajax({ //jquery ajax
                                    type: "PUT", //http method
                                    url: "/api/user/admin-user/change-password", //값을 가져올 경로
                                    headers: {'Content-Type': 'application/json'},
                                    dataType: "json", //html, xml, text, script, json, jsonp 등 다양하게 쓸 수 있음
                                    data: JSON.stringify(params),
                                    success: function (res) {
                                        alert('관리자 정보와 비밀번호 변경이 모두 완료되었습니다.');
                                        $('#password').val('');
                                        $('#password2').val('');
                                        window.location.reload();
                                    },
                                    error: function (err) {
                                        alert("관리자 변경에는 성공했으나, 비밀번호 변경 중 오류가 발생했습니다.");
                                        window.location.reload();
                                    }
                                });
                            } else if (!$('#password').val()) {
                                alert('관리자 계정을 수정하였습니다.');
                                window.location.reload();
                            }
                        },
                        error: function (e){
                            if(e && e.responseJSON && e.responseJSON.resultMessage){
                                alert(e.responseJSON.resultMessage);
                            }else{
                                alert('관리자 계정을 수정하는 과정에서 오류가 발생했습니다.');
                            }
                        }
                    })
                }
            }
            function create(){
                if(nullCheck()){
                    let params = getFormData();
                    if($('#password').val() === $('#password2').val()){
                        params.password=$('#password').val();
                        $.ajax({
                            type: "post", //http method
                            url: "/api/user/admin-user/create",
                            headers: {'Content-Type': 'application/json'},
                            data: JSON.stringify(params),
                            dataType: "json",
                            success: function (res){
                                alert('관리자 계정을 등록하였습니다.');
                                window.location.assign('/user/admin-user');
                            },
                            error: function (e){
                                if(e && e.responseJSON && e.responseJSON.resultMessage){
                                    alert(e.responseJSON.resultMessage);
                                }else{
                                    alert('관리자 계정을 등록하는 과정에서 오류가 발생했습니다.');
                                }
                            }
                        })
                    } else {
                        alert('비밀번호와 비밀번호 재입력의 값이 일치하지 않습니다.');
                    }
                }
            }
            /* <![CDATA[ */
            function getFormData(){
                let params = {};
                let CONT = [[ ${content} ]];
                if(CONT){
                    params.userId=CONT[0].userId;
                }
                $('input:text').each((index, item)=>{
                    if($(item).attr('id')&& !$(item).hasClass("el_datePicker")){
                        params[$(item).attr('id')] = $(item).val()
                    }
                })
                $('select').each((index, item)=>{
                    if($(item).attr('id')){
                        params[$(item).attr('id')] = $(item).val()
                    }
                })

                if($('#password').val()){
                    if($('#password').val() === $('#password2').val()){
                        if(!/^(?=.*[a-zA-Z])(?=.*[0-9]).{8,25}$/.test($('#password').val())){
                            alert('유효하지 않은 비밀번호입니다.')
                            params = null;
                        } else {
                            params.password=$('#password').val();
                        }
                    }else if($('#password').val() || $('#password2').val()){
                        alert('비밀번호가 일치하지 않습니다.')
                        params = null;
                    }
                }

                if($('#telNo').val()){
                    if(!/^(0(2|3[1-3]|4[1-4]|5[1-5]|6[1-4]))-?([0-9]{3,4})-?([0-9]{4})$/.test($('#telNo').val())){
                        alert('잘못된 유선 번호입니다. 유선 번호 형식에 맞게 입력해주세요.')
                        params = null;
                    } else {
                        params.telNo=$("#telNo").val();
                    }
                }

                if($('#phone').val()){
                    if(!/^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/.test($('#phone').val())){
                        alert('잘못된 휴대폰 번호입니다. 휴대폰 번호 형식에 맞게 입력해주세요.')
                        params = null;
                    } else {
                        params.phone=$("#phone").val();
                    }
                }
                return params;
            }

            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
                CONT =  [[ ${content} ]]
            }

            function option_hide() {
                var auth = [[ ${#authentication} ]];
                var role = auth.principal.roleGroup;

                if (role.toString() == "GENERAL") {
                    $("#roleGroup option[value*='SUPER']").hide();
                    $("#roleGroup option[value*='OPERATE']").hide();
                } else if (role.toString() == "OPERATE") {
                    $("#roleGroup option[value*='SUPER']").hide();
                }
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>