<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content" data-menu="business-5-3">
    <div sec:authorize="isAuthenticated()">
        <div class="title">
            <h2>강사료 정산</h2>
        </div>

        <div class="bl_tab2 js_tab">
            <ul class="bl_tab2_menu">
                <li>
                    <a href="/business/instructor/calculate">정산마감일</a>
                </li>
                <li class="is_active">
                    <a href="/business/instructor/calculate/target">정산요청 목록</a>
                </li>
                <li>
                    <a href="/business/instructor/calculate/list?groupType=instr">정산금액 조회</a>
                </li>
                <li>
                    <a href="/business/instructor/calculate/distance/amount">이동거리 기준단가</a>
                </li>
            </ul>

            <div class="sch_box">
                <select id="bizPbancType" class="common_select" data-list="businessTemp"></select>
                <select id="bizPbancRnd" class="common_select" data-list="numList"></select>
                <select id="year" class="common_select" data-list="yearList"></select>
                <select id="month" class="common_select">
                    <!-- '지출예정건' 검색 조건으로 인한 값 - 1 -->
                    <option value="">월</option>
                    <option value="12">1월 지출예정건</option>
                    <option value="01">2월 지출예정건</option>
                    <option value="02">3월 지출예정건</option>
                    <option value="03">4월 지출예정건</option>
                    <option value="04">5월 지출예정건</option>
                    <option value="05">6월 지출예정건</option>
                    <option value="06">7월 지출예정건</option>
                    <option value="07">8월 지출예정건</option>
                    <option value="08">9월 지출예정건</option>
                    <option value="09">10월 지출예정건</option>
                    <option value="10">11월 지출예정건</option>
                    <option value="11">12월 지출예정건</option>
                </select>
                <select id="bizOrgAplyRgn" class="common_select" data-list="submissionList"></select>
                <select id="containTextType" class="common_select">
                    <option value="0">전체</option>
                    <option value="1">강사명</option>
                    <option value="3">기관명</option>
                    <option value="2">강사아이디</option>
                </select>
                <input id="containText" type="text" class="hp_w200">
                <div onclick="search()" class="btn btnDefault btnSearch">검색</div>
                <div class="btn btnDefault btnReset">리셋</div>
            </div>
        
            <!-- BOARD : CONTROLLER -->
            <div class="bl_boardCtrls">
                <div class="bl_boardCtrls_lft">
                    <p class="bl_boardCtrls_total">
                        총: <strong th:text="${pageable.totalElements}"></strong>건
                    </p>
                    <select id="payYear" class="common_select" data-list="yearList"></select>
                    <select id="payMonth" class="common_select" data-list="monthList"></select>
                    <span>지출연월으로</span>
                    <div onclick="updateAprv(4)" id="apply_stts1" class="btn btnDefault state__blue">정산완료</div>
                </div>
                <div class="bl_boardCtrls_rgt">
                    <a id="pdfDownload" target="_blank" th:href="@{/business/instructor/calculate/target/pdf/{total}?bizInstrIdntyStts=3(total=${pageable.totalElements})}"  class="btn btnDefault">PDF 다운로드</a>
                    <a href="/api/business/instructor/identify/calculate/list/excel" class="btn btnDefault download_excel download_search">excel 다운로드</a>
                    <select class="ms-2 common_select" data-list="countSortList"></select>
                </div>
            </div>
        
            <div class="tableResponsive overflowMulti">
                <table class="table">
                    <colgroup>
                        <col style="width: 50px">
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="chk_box">
                                    <input id="all_check" type="checkbox" name="calculateTargetList">
                                    <label for="all_check">
                                        <span class="me-0"></span>
                                    </label>
                                </div>
                            </th>
                            <th scope="col">번호</th>
                            <th scope="col">작성자</th>
                            <th scope="col">제출처</th>
                            <th scope="col">년도</th>
                            <th scope="col">사업명</th>
                            <th scope="col">차수</th>
                            <th scope="col">수행기관</th>
                            <th scope="col">강의기간</th>
                            <th scope="col">강의시간</th>
                            <th scope="col">교육연월</th>
                            <th scope="col">지출상태</th>
                            <th scope="col">작성일</th>
                        </tr>
                    </thead>
                    <tbody th:if="${content != null && content.size > 0}">
                        <tr th:each="item, stat : ${content}">
                            <td>
                                <div class="chk_box item_chk">
                                    <input th:id="${item.bizInstrIdntyNo}" th:value="${stat.index}" type="checkbox" name="calculateTargetList">
                                    <label th:for="${item.bizInstrIdntyNo}">
                                        <span class="me-0"></span>
                                    </label>
                                </div>
                            </td>
                            <td th:text="${pageable.totalElements - ((pageable.page * pageable.size) + stat.index)}"></td>
                            <td>
                                <a th:href="@{/business/instructor/identify/{id}(id=${item.bizInstrIdntyNo})}">
                                    <span th:text="${item.userName}">신소영</span>(<span th:text="${item.registUserId}">soyoung8733</span>)
                                </a>
                            </td>
                            <td th:text="${item.bizOrganizationAply.bizOrgAplyRgn}">서울</td>
                            <td th:text="${item.bizPbancMaster.bizPbancYr}">2022</td>
                            <td>
                                <a th:href="@{/business/pbanc/list/{type}/{id}(type=${item.bizPbancMaster.bizPbancType}, id=${item.bizPbancMaster.bizPbancNo})}" th:text="${item.bizPbancMaster.bizPbancNm}">사업명</a>
                            </td>
                            <td th:text="${item.bizPbancMaster.bizPbancRnd}">1</td>
                            <td th:text="${item.organizationName}">기관명</td>
                            <td>
                                <span th:text="${item.bizPbancMaster.bizPbancSprtBgng}">2022-05-19</span> ~ <span th:text="${item.bizPbancMaster.bizPbancSprtEnd}">2022-07-07</span>
                            </td>
                            <td th:text="${item.bizInstrIdntyTime}">강의시간 추가예정</td>
                            <td>
                                <span th:text="${#strings.substring(item.bizInstrIdntyYm,0,4)}">2022</span>년 <span th:text="${#strings.substring(item.bizInstrIdntyYm,4,6)}">07</span>월
                            </td>
                            <td>
                                <span class="state state__blue" th:if="${item.bizInstrIdntyStts == 3}">정산 지출 대기</span>
                                <span class="state state__green" th:if="${item.bizInstrIdntyStts == 4}">정산 완료</span>
                            </td>
                            <td th:text="${#strings.substring(item.createDateTime,0,10)}">2022-07-13</td>
                        </tr>
                    </tbody>
                    <tbody th:unless="${content != null && content.size > 0}">
                        <tr class="empty_data"><td colspan="13">조회된 내용이 없습니다.</td></tr>
                    </tbody>
                </table>
            </div>
        
            <div class="bl_paginate"></div>
        </div>
    </div>
    <div sec:authorize="!isAuthenticated()"></div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /* <![CDATA[ */
            if(window.location.search && window.location.search!=""){
                $("#pdfDownload").attr("href", $("#pdfDownload").attr("href")+"&"+window.location.search.replace("?",""));
            }
            let index;
            let count;
            function updateAprv(stts){
                if($("#payYear").val() && $("#payMonth").val() && confirm('정말로 정산완료 처리하시겠습니까?')){
                    if($(".item_chk input:checkbox[name=calculateTargetList]:checked").length==0){
                        alert('체크박스를 클릭하여 정산완료 처리할 항목을 선택해 주세요.')
                    }
                    index = $(".item_chk input:checkbox[name=calculateTargetList]:checked").length;
                    count = 0;
                    let payYm=$("#payYear").val()+$("#payMonth").val();
                    let CONT =  [[ ${content} ]];
                    $(".item_chk input:checkbox[name=calculateTargetList]:checked").each(function (ind, item){
                        count=count+1;
                        if(parseInt($(item).attr("value"))>=0){
                            let dataIndex = parseInt($(item).attr("value"))
                            let params = CONT[dataIndex];
                            params.bizInstrIdntyStts = stts;
                            params.bizInstrIdntyPayYm=payYm
                            sendUpdate(params);
                        }
                    })
                }else{
                    alert('지출연월을 선택해 주세요.')
                }

            }

            function sendUpdate(params){
                $.ajax({
                    type: "put", //http method
                    url: `/api/business/instructor/identify/update`, //값을 가져올 경로
                    headers: {'Content-Type': 'application/json'},
                    data: JSON.stringify(params),
                    dataType: "json",
                    async:false,
                    success: function(data) {
                        if(count == index){
                            alert("강의확인서 상태를 수정하였습니다.");
                            window.location.reload();
                        }
                    },
                    error: function(e) {
                        if(count == index){
                            alert("강의확인서 수정에 실패했습니다.");
                        }
                    }
                })
            }
            function search(){
                let searchQuery = {}
                if($("#bizOrgAplyRgn").val()!="제출처")searchQuery.bizOrgAplyRgn =$("#bizOrgAplyRgn").val();
                if($("#year").val()) searchQuery.year=$("#year").val();
                if($("#month").val()) searchQuery.month=$("#month").val();
                if(parseInt($("#bizPbancType").val())>=0) searchQuery.bizPbancType=parseInt($("#bizPbancType").val());
                if(parseInt($("#bizPbancRnd").val())) searchQuery.bizPbancRnd=parseInt($("#bizPbancRnd").val());
                if($("#containText").val()){
                    searchQuery.containText=$("#containText").val();
                    searchQuery.containTextType=$("#containTextType").val();
                }
                searchJson(searchQuery);
            }

            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
                pagination([[ ${pageable} ]], false)
                checkBox();

                let now = new Date();
                $("#payYear").val(now.getFullYear()).prop('selected', true);
                $("#payMonth").val(now.getMonth()+1>9?now.getMonth()+1:'0'+(now.getMonth()+1)).prop('selected', true);

                /** 연도 고정값 기능(정산금액조회만) */
                let YYYY=new Date.getFullYear();
                $("div.bl_tab2 a[href*='/business/instructor/calculate/list?groupType']").each((index, item) => {
                    let url = $(item).attr("href")
                    $(item).attr("href", url+"&year="+YYYY)
                })
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>