<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content" data-menu="homepage-12">
    <div sec:authorize="isAuthenticated()">
        <div class="title">
            <h2>이벤트/설문 관리</h2>
        </div>
        
        <div class="tableLeftResponsive">
            <table class="tableLeft">
                <colgroup>
                    <col style="width: 200px">
                    <col style="width: auto">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">작성일</th>
                        <td>
                            <div class="bl_dateRange">
                                <input type="text" id="writeStartDate" class="el_datePicker sdate">
                                <span class="blank">~</span>
                                <input type="text" id="writeEndDate" class="el_datePicker edate">
                            </div>
                        </td>
                        <th scope="row">이벤트 기간</th>
                        <td>
                            <div class="bl_dateRange">
                                <input type="text" id="eventStartDate" class="el_datePicker sdate">
                                <span class="blank">~</span>
                                <input type="text" id="evnetEndDate" class="el_datePicker edate">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">상태</th>
                        <td>
                            <div class="radio_box">
                                <input id="eventStateAll" type="radio" name="eventState" checked>
                                <label for="eventStateAll">
                                    <span></span>
                                    전체
                                </label>
                            </div>
                            <div class="radio_box">
                                <input id="eventState1" type="radio" name="eventState" value="1">
                                <label for="eventState1">
                                    <span></span>
                                    진행중
                                </label>
                            </div>
                            <div class="radio_box">
                                <input id="eventState2" type="radio" name="eventState" value="0">
                                <label for="eventState2">
                                    <span></span>
                                    종료
                                </label>
                            </div>
                        </td>
                        <th scope="row">타입</th>
                        <td>
                            <div class="radio_box">
                                <input id="typeAll" type="radio" name="type" checked>
                                <label for="typeAll">
                                    <span></span>
                                    전체
                                </label>
                            </div>
                            <div class="radio_box">
                                <input id="type1" type="radio" name="type" value="1">
                                <label for="type1">
                                    <span></span>
                                    이벤트
                                </label>
                            </div>
                            <div class="radio_box">
                                <input id="type2" type="radio" name="type" value="2">
                                <label for="type2">
                                    <span></span>
                                    설문
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">검색</th>
                        <td colspan="3">
                            <div class="d-flex gap-2">
                                <select id="containTextType" class="common_select">
                                    <option value="1">제목+내용</option>
                                    <option value="2">제목</option>
                                    <option value="3">내용</option>
                                </select>
                                <input id="containText" type="text" class="hp_w600">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bl_gridBtns">
            <div class="bl_gridBtns_md">
                <div class="btn btnDefault btnReset">리셋</div>
                <div class="btn btnDefault btnSearch">검색</div>
                <a class="btn btnDefault btnRegister" href="/homepage/event/">등록</a>
            </div>
        </div>

        <!-- BOARD : CONTROLLER -->
        <div class="bl_boardCtrls">
            <div class="bl_boardCtrls_lft">
                <p class="bl_boardCtrls_total">총: <strong th:text="${pageable.totalElements}">1</strong>건</p>
                <select class="common_select" data-list="countSortList"></select>
            </div>
        </div>

        <div class="tableResponsive overflowMulti">
            <table class="table">
                <colgroup>
                    <col style="width: 50px">
                    <col style="width: auto">
                    <col style="width: 200px">
                    <col style="width: 120px">
                    <col style="width: 120px">
                    <col style="width: 120px">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">기간</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                        <th scope="col">상태</th>
                    </tr>
                </thead>
                <tbody th:if="${content != null && content.size > 0}">
                    <tr th:each="item, stat : ${content}">
                        <td th:text="${pageable.totalElements - ((pageable.page * pageable.size) + stat.index)}">1</td>
                        <td>
                            <a th:href="@{/homepage/event/{id}(id=${item.sequenceNo})}" class="d-flex">
                                <span class="hp_ellipsis" th:text="${item.title}">제목입니다.</span>
                            </a>
                        </td>
                        <td>
                            <span th:text="${#strings.substring(item.startDt, 0, 10)}">2022.10.01</span> ~
                            <span th:text="${#strings.substring(item.endDt, 0, 10)}">2022.11.01</span>
                        </td>
                        <td>
                            <span th:if="${item.adminUser.userName != null}" th:text="${item.adminUser.userName}">홍길동</span>
                            (<span th:if="${item.adminUser.userId != null}" th:text="${item.adminUser.userId}">test12</span>)
                        </td>
                        <td th:text="${item.createDateTime}">2022.10.01</td>
                        <td>
                            <span th:if="${item.status==1}" class="state state__blue">진행중</span>
                            <span th:if="${item.status==0}" class="state state__red">종료</span>
                        </td>
                    </tr>
                </tbody>
                <tbody th:unless="${content != null && content.size > 0}">
                <tr class="empty_data"><td colspan="6">조회된 내용이 없습니다.</td></tr>
                </tbody>
            </table>
        </div>

        <div class="bl_paginate"></div>
    </div>
    <div sec:authorize="!isAuthenticated()"></div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /* <![CDATA[ */
            $(".btnSearch").bind('click',function (){
                let searchQuery = {}
                
                let writeStartDate = $("#writeStartDate").val();
                let writeEndDate = $("#writeEndDate").val();
                let eventStartDate = $("#eventStartDate").val();
                let evnetEndDate = $("#evnetEndDate").val();
                let state = $("input:radio[name=eventState]:checked").attr('value');
                let type = $("input:radio[name=type]:checked").attr('value');
                let searchType = $("#containTextType").val();
                let containText = $("#containText").val();
                
                if (writeStartDate){
                    searchQuery.startDate = writeStartDate;
                }
                if (writeEndDate){
                    searchQuery.endDate = writeEndDate;
                }
                if (eventStartDate){
                    searchQuery.startDt = eventStartDate;
                }
                if (evnetEndDate){
                    searchQuery.endDt = evnetEndDate;
                }
                if(state){
                    searchQuery.status = state;
                }
                if(type){
                    searchQuery.type = type;
                }
                if(containText){
                    searchQuery.containText = containText;
                    searchQuery.containTextType = searchType;
                }
                searchJson(searchQuery)
            });

            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
                pagination([[ ${pageable} ]], false)

                let searchParams = new URLSearchParams(window.location.search);
                if(searchParams.has('startDate')){
                    $("#writeStartDate").val(searchParams.get('startDate'));
                    $("#writeEndDate").val(searchParams.get('endDate'));
                }
                if(searchParams.has('startDt')){
                    $("#eventStartDate").val(searchParams.get('startDt'));
                    $("#evnetEndDate").val(searchParams.get('endDt'));
                }
                if(searchParams.has('status')){
                    if (searchParams.get('status') == '1') {
                        $("#eventState1").prop("checked", true);
                    } else if (searchParams.get('status') == '0') {
                        $("#eventState2").prop("checked", true);
                    } else {
                        $('#eventStateAll').prop("checked", true);
                    }
                }
                if(searchParams.has('type')){
                    if (searchParams.get('type') == '1') {
                        $("#type1").prop("checked", true);
                    } else if (searchParams.get('type') == '2') {
                        $("#type2").prop("checked", true);
                    } else {
                        $('#typeAll').prop("checked", true);
                    }
                }
                if(searchParams.has('containText')){
                    $("#containText").val(searchParams.get('containText'));
                    $("#containTextType").val(searchParams.get('containTextType'));
                }
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>
