<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content" data-menu="homepage-2">
    <div sec:authorize="isAuthenticated()">
        <div class="title">
            <h2>자주하는 질문 관리</h2>
        </div>

        <div class="tableLeftResponsive">
            <table class="tableLeft">
                <colgroup>
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">작성일</th>
                        <td>
                            <div class="bl_dateRange">
                                <input id="startDate" type="text" class="el_datePicker sdate">
                                <span class="blank">~</span>
                                <input id="endDate" type="text" class="el_datePicker edate">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">검색</th>
                        <td>
                            <div class="d-flex gap-2">
                                <select id="containTextType" class="common_select">
                                    <option value="1">제목+내용</option>
                                    <option value="2">제목</option>
                                    <option value="3">내용</option>
                                </select>
                                <input id="containText" name="containText" type="text" class="hp_w600">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bl_gridBtns">
            <div class="bl_gridBtns_md">
                <div class="btn btnDefault btnReset">리셋</div>
                <a onclick="searchFaq()" class="btn btnDefault btnSearch">검색</a>
                <a th:href="@{/homepage/top-qna/}" class="btn btnDefault btnRegister">등록</a>
            </div>
        </div>

        <!-- BOARD : CONTROLLER -->
        <div class="bl_boardCtrls">
            <div class="bl_boardCtrls_lft">
                <p class="bl_boardCtrls_total">총: <strong th:text="${pageable.totalElements}"></strong>건</p>
                <select class="common_select" data-list="countSortList"></select>
            </div>
        </div>

        <div class="tableResponsive overflowMulti">
            <table class="table">
                <colgroup>
                    <col style="width: 50px">
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">질문</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                    </tr>
                </thead>
                <tbody th:if="${content != null && content.size > 0}">
                    <tr th:each="item, stat : ${content}">
                        <td th:text="${pageable.totalElements - ((pageable.page * pageable.size) + stat.index)}">1</td>
                        <td>
                            <a th:href="@{/homepage/top-qna/{id}(id=${item.sequenceNo})}">
                                <span class="hp_ellipsis" th:text="${item.question}">질문 내용이 들어갑니다.</span>
                            </a>
                        </td>
                        <td th:text="${item.registUserId}">
                            홍길동
                        </td>
                        <td th:text="${item.createDateTime}">2022.08.08</td>
                    </tr>
                </tbody>
                <tbody th:unless="${content != null && content.size > 0}">
                <tr class="empty_data"><td colspan="4">조회된 내용이 없습니다.</td></tr>
                </tbody>
            </table>
        </div>
        
        <div class="bl_paginate"></div>
    </div>
    <div sec:authorize="!isAuthenticated()"></div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            function searchFaq() {
                let searchQuery = {}
                let name = $("#containText").val();
                let type = $("#containTextType").val()
                if(name){
                    searchQuery.containText = name
                    searchQuery.containTextType = type
                }
                let sDate = $("#startDate").val()
                let eDate = $("#endDate").val()
                if(sDate && eDate){
                    searchQuery.startDate= sDate;
                    searchQuery.endDate= eDate;
                }else if(sDate||eDate){
                    alert('작성일은 시작일과 종료일을 모두 입력해야 합니다.')
                }
                searchJson(searchQuery)
            }
            /* <![CDATA[ */
            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
                pagination([[ ${pageable} ]], false)
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>
