<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content" data-menu="homepage-1">
    <div sec:authorize="isAuthenticated()">
        <div class="title">
            <h2>공지사항 관리</h2>
        </div>

        <div class="tableLeftResponsive">
            <table class="tableLeft">
                <colgroup>
                    <col style="width: 200px">
                    <col style="width: auto">
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">구분</th>
                        <td>
                            <select id="noticeType" class="common_select">
                                <option value="">구분</option>
                                <option value="0">일반</option>
                                <option value="1">미디어교육</option>
                                <option value="2">언론인연수</option>
                            </select>
                        </td>
                        <th scope="row">작성일</th>
                        <td>
                            <div class="bl_dateRange">
                                <input type="text" id="startDate" class="el_datePicker sdate">
                                <span class="blank">~</span>
                                <input type="text" id="endDate" class="el_datePicker edate">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">검색</th>
                        <td colspan="3">
                            <div class="d-flex gap-2">
                                <select id="containTextType" class="common_select">
                                    <option value="1">제목+내용</option>
                                    <option value="2">제목</option>
                                    <option value="3">내용</option>
                                </select>
                                <input id="containText" type="text" class="hp_w600">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bl_gridBtns">
            <div class="bl_gridBtns_md">
                <div class="btn btnDefault btnReset">리셋</div>
                <div class="btn btnDefault btnSearch">검색</div>
                <a href="/homepage/notice/" class="btn btnDefault btnRegister">등록</a>
            </div>
        </div>

        <!-- BOARD : CONTROLLER -->
        <div class="bl_boardCtrls">
            <div class="bl_boardCtrls_lft">
                <p class="bl_boardCtrls_total">총: <strong th:text="${pageable.totalElements}"></strong>건</p>
                <select class="common_select" data-list="countSortList"></select>
            </div>
        </div>

        <div class="tableResponsive overflowMulti">
            <table class="table">
                <colgroup>
                    <col style="width: 50px">
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">구분</th>
                        <th scope="col">제목</th>
                        <th scope="col">첨부파일</th>
                        <th scope="col">작성일</th>
                        <th scope="col">조회수</th>
                        <th scope="col">관리</th>
                    </tr>
                </thead>
                <tbody th:if="${content != null && content.size > 0}">
                    <tr th:each="item, stat : ${content}">
                        <td>
                            <img th:if="${item.isTop}" th:src="@{/assets/images/icons/board_top.png}" alt="Top" width="16px">
                            <span th:unless="${item.isTop}" th:text="${pageable.totalElements - ((pageable.page * pageable.size) + stat.index)}"></span>
                        </td>
                        <td>
                            <span th:if="${item.noticeType} == 0">일반</span>
                            <span th:if="${item.noticeType} == 1">미디어교육</span>
                            <span th:if="${item.noticeType} == 2">언론인연수</span>
                        </td>
                        <td>
                            <a th:href="@{/homepage/notice/{id}(id=${item.noticeSerialNo})}" class="d-flex justify-content-center align-items-center gap-2">
                                <span class="hp_ellipsis" th:text="${item.title}">상단 공지사항입니다.</span>
                                <i th:if="${item.isNew}" class="el_ico"><img th:src="@{/assets/images/icons/new.png}" alt="새글" width="33px"></i>
                            </a>
                        </td>
                        <td>
                            <i th:if="${item.attachFilePath} != null" class="el_ico">
                                <a th:href="${item.attachFilePath}" download>
                                    <img th:src="@{/assets/images/icons/file_icon.png}" alt="첨부파일" width="12px">
                                </a>
                            </i>
                            <span th:if="${item.attachFilePath} == null">-</span>
                        </td>
                        <td th:text="${item.createDateTime}">2022.01.01</td>
                        <td th:text="${item.viewCount}">10</td>
                        <td>
                            <div onclick="btnDelete(this)" th:value="${stat.index}" class="btn btnDefault btnDelete">삭제</div>
                        </td>
                    </tr>
                </tbody>
                <tbody th:unless="${content != null && content.size > 0}">
                <tr class="empty_data"><td colspan="7">조회된 내용이 없습니다.</td></tr>
                </tbody>
            </table>
        </div>

        <div class="bl_paginate"></div>
    </div>
    <div sec:authorize="!isAuthenticated()"></div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(".btnSearch").bind('click',function (){
                let searchQuery = {};
                let ntype = $("#noticeType").val();
                let containText = $("#containText").val();
                let containTextType = $("#containTextType").val();
                if(ntype){
                    searchQuery.noticeType = ntype;
                }
                let sDate = $("#startDate").val()
                let eDate = $("#endDate").val()
                if(sDate && eDate){
                    searchQuery.startDate= sDate;
                    searchQuery.endDate= eDate;
                }else if(sDate||eDate){
                    alert('검색 시작일과 종료일을 모두 입력해야 합니다.')
                }
                if(containText){
                    searchQuery.containText = containText;
                    searchQuery.containTextType =containTextType;
                }
                searchJson(searchQuery)
            })

            function btnDelete(btn){
                if(confirm('정말로 삭제하시겠습니까?')){
                    let dataIndex = $(btn).attr('value');
                    let params = getContent(dataIndex);
                    $.ajax({
                        type: "delete", //http method
                        url: `/api/homepage/notice/delete/${params.noticeSerialNo}`, //값을 가져올 경로
                        headers: {'Content-Type': 'application/json'},
                        data: JSON.stringify(params),
                        dataType: "json",
                        success: function(data) {
                            alert("삭제가 완료되었습니다.");
                            window.location.reload();
                        },
                        error: function(e) {
                            alert(e.responseJSON.resultMessage);
                        }
                    })
                }
            }

            /* <![CDATA[ */
            function getContent(index){
                let CONT = [[ ${content} ]];
                return CONT[index];
            }
            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
                pagination([[ ${pageable} ]], false)

                let searchParams = new URLSearchParams(window.location.search);
                if(searchParams.has('ntype')){
                    $('#noticeType').val(searchParams.get('ntype'));
                }
                if(searchParams.has('startDate')){
                    $("#startDate").val(searchParams.get('startDate'));
                    $("#endDate").val(searchParams.get('endDate'));
                }
                if(searchParams.has('containText')){
                    $("#containText").val(searchParams.get('containText'));
                    $("#containTextType").val(searchParams.get('containTextType'));
                }
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>
