<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content" data-menu="homepage-4">
    <div sec:authorize="isAuthenticated()">
        <div class="title">
            <h2>교육 주제 제안(<span id="pageTarget">언론인</span>)</h2>
        </div>

        <!-- BOARD : LIST2 -->
        <div class="bl_board2">
            <ul>
                <li th:each="item, stat: ${content}">
                    <div class="bl_board2_head">
                        <i class="el_ico" th:if="${item.isSecurity}">
                            <img th:src="@{/assets/images/icons/lock.png}" alt="">
                        </i>
                        <div class="bl_board2_name">
                            <span th:text="${item.suggestUser}"></span>
                            (<span th:text="${item.registUserId}"></span>)
                        </div>
                        <div class="bl_board2_btns">
                            <button class="btn_type3 btn_del"
                                    th:onclick="deleteItem( [[${stat.index}]] )"
                            >삭제</button>
                            <button class="btn_type3 btn_modify"
                                    data-control="modal" data-handler="pop"
                                    th:onclick="updateItem( [[${stat.index}]] )"
                            >수정</button>
                        </div>

                        <div class="bl_board2_date" th:text="${item.createDateTime}"></div>
                    </div>
                    <div class="bl_board2_body">
                        <div>
                            <textarea th:id="contents+${item.sequenceNo}" class="hp_h71" th:text="${item.contents}">교육 주제 제안을 합니다.</textarea>
                        </div>
                    </div>

                    <div class="bl_board2_reply" th:if="${item.commentUser != null}"> <!-- 답글 영역 -->
                        <span class="answer_icon"></span>
                        <div class="hp_w100p">
                            <div>
                                <div class="bl_board2_head">
                                    <i class="el_ico" th:if="${item.commentSecurity}">
                                        <img th:src="@{/assets/images/icons/lock.png}" alt="">
                                    </i>
                                    <div class="bl_board2_name">
                                        <span th:text="${item.commentUser}">홍길동</span>
                                        (<span th:text="${item.commentUserId}">honggildong1234</span>)

                                        <input type="checkbox" class="hp_w200 ms-3" th:id="commentSecurity+${item.sequenceNo}" th:checked="${item.commentSecurity}">
                                        <label th:for="commentSecurity+${item.sequenceNo}">비밀댓글</label>
                                    </div>
                                    <div class="bl_board2_btns">
                                        <button class="btn_type3 btn_del"
                                                th:onclick="reply( [[${stat.index}]], 'delete' )"
                                        >삭제</button>
                                        <button class="btn_type3 btn_modify"
                                                data-control="modal" data-handler="pop"
                                                th:onclick="reply( [[${stat.index}]] )"
                                        >수정</button>
                                    </div>

                                    <div class="bl_board2_date" th:text="${item.updateDateTime}">2022.08.24</div>
                                </div>
                                <div class="bl_board2_body">
                                    <textarea th:id="comment+${item.sequenceNo}" class="hp_h71" th:text="${item.comment}">답글입니다.</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bl_board2_reply" th:unless="${item.commentUser != null}">
                        <span class="answer_icon"></span>
                        <div class="hp_w100p">
                            <div>
                                <div class="bl_board2_head">
                                    <div class="bl_board2_name">
                                        <span th:text="${#authentication.principal.username}">홍길동</span>
                                        (<span th:text="${#authentication.principal.userId}">honggildong1234</span>)

                                        <input type="checkbox" class="hp_w200 ms-3" th:id="commentSecurity+${item.sequenceNo}">
                                        <label th:for="commentSecurity+${item.sequenceNo}">비밀댓글</label>
                                    </div>
                                    <div class="bl_board2_btns">
                                        <button class="btn_type3"
                                                data-control="modal" data-handler="pop"
                                                th:onclick="reply( [[${stat.index}]], 'create' )">등록</button>
                                    </div>
                                </div>
                                <div class="bl_board2_body">
                                    <textarea th:id="comment+${item.sequenceNo}" class="hp_h71"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="bl_paginate"></div>
    </div>
    <div sec:authorize="!isAuthenticated()"></div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /* <![CDATA[ */

            let pageTarget = document.location.href.match(/([^\/]*)\/*$/)[1];
            if (pageTarget == 'journalist') {
                $('#pageTarget').text('언론인');
            }
            if (pageTarget == 'public') {
                $('#pageTarget').text('시민');
            }

            /* 교육주제제안 수정 */
            function updateItem(idx) {
                const CONT = [[ ${content} ]];
                let params = {};
                params.comment = CONT[idx].comment;
                params.contents = $("#contents"+CONT[idx].sequenceNo).val();
                params.sequenceNo = CONT[idx].sequenceNo;

                $.ajax({
                    type: "put", //http method
                    url: "/api/homepage/suggestion/update", //값을 가져올 경로
                    headers: {'Content-Type': 'application/json'},
                    data: JSON.stringify(params),
                    dataType: "json",
                    success: function(data) {
                        alert("수정되었습니다.")
                        location.reload();
                    },
                    error: function(e) {
                        if(e && e.responseJSON && e.responseJSON.resultMessage){
                            alert(e.responseJSON.resultMessage);
                        }else{
                            alert('수정 중 오류가 발생하였습니다.');
                        }
                    }
                })
            }

            /* 교육주제제안 삭제 */
            function deleteItem(idx) {
                const CONT = [[ ${content} ]];
                let params = {};
                params.sequenceNo = CONT[idx].sequenceNo;
                
                if(confirm(`정말로 삭제하시겠습니까?`)){
                    $.ajax({
                        type: "delete", //http method
                        url: "/api/homepage/suggestion/delete/" + params.sequenceNo, //값을 가져올 경로
                        headers: {'Content-Type': 'application/json'},
                        data: JSON.stringify(params),
                        dataType: "json",
                        success: function(data) {
                            alert("삭제되었습니다.")
                            location.reload();
                        },
                        error: function(e) {
                            if(e && e.responseJSON && e.responseJSON.resultMessage){
                                alert(e.responseJSON.resultMessage);
                            }else{
                                alert('삭제 중 오류가 발생하였습니다.');
                            }
                        }
                    })
                }
            }

            /* 교육주제제안 답변 작성&삭제&수정 */
            function reply(idx, type) {
                const CONT = [[ ${content} ]];
                let params = {};
                if (type == 'delete') {
                    params.comment = '';
                    params.commentSecurity = false;
                } else {
                    params.comment = $("#comment"+CONT[idx].sequenceNo).val();
                    params.commentSecurity = $("#commentSecurity"+CONT[idx].sequenceNo).is(':checked') ? true : false;
                }
                params.contents = CONT[idx].contents;
                params.sequenceNo = CONT[idx].sequenceNo;

                if(type == 'delete' && confirm(`정말로 삭제하시겠습니까?`)){
                    $.ajax({
                        type: "put", //http method
                        url: "/api/homepage/suggestion/comment", //값을 가져올 경로
                        headers: {'Content-Type': 'application/json'},
                        data: JSON.stringify(params),
                        dataType: "json",
                        success: function(data) {
                            alert("답변 삭제가 완료되었습니다.")
                            location.reload();
                        },
                        error: function(e) {
                            if(e && e.responseJSON && e.responseJSON.resultMessage){
                                alert(e.responseJSON.resultMessage);
                            }else{
                                alert("답변 삭제 중 오류가 발생하였습니다.")
                            }
                        }
                    })
                } else {
                    if (params.comment) {
                        $.ajax({
                            type: "put", //http method
                            url: "/api/homepage/suggestion/comment", //값을 가져올 경로
                            headers: {'Content-Type': 'application/json'},
                            data: JSON.stringify(params),
                            dataType: "json",
                            success: function(data) {
                                if (type == 'create') {
                                    alert("답변 등록이 완료되었습니다.")
                                } else {
                                    alert("답변 수정이 완료되었습니다.")
                                }
                                location.reload();
                            },
                            error: function(e) {
                                if(e && e.responseJSON && e.responseJSON.resultMessage){
                                    alert(e.responseJSON.resultMessage);
                                }else{
                                    if (type == 'create') {
                                        alert('답변 등록 중 오류가 발생하였습니다.');
                                    } else {
                                        alert('답변 수정 중 오류가 발생하였습니다.');
                                    }
                                }
                            }
                        })
                    } else alert("작성할 내용을 입력해주세요.")
                }
            }
            
            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
                pagination([[ ${pageable} ]], false)
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>
