<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content" data-menu="homepage-7">
    <div sec:authorize="isAuthenticated()">
        <div class="title">
            <h2>연구/간행물 관리</h2>
        </div>

        <div class="card_wrap">
            <div class="card half pt-0 card__proposition">
                <div>
                    <img th:src="@{/assets/images/menu__homepage/proposition_icon.png}" alt="" />
                    <div class="text_box">
                        <p class="card_title">미디어리터러시</p>
                    </div>
                    <a class="btn_type1 btn_blue" href="/homepage/archive/publicing/publication">바로가기</a>
                </div>
            </div>
            <div class="card half pt-0 card__proposition">
                <div>
                    <img th:src="@{/assets/images/menu__homepage/proposition_icon2.png}" alt="" />
                    <div class="text_box">
                        <p class="card_title">연구/통계</p>
                    </div>
                    <a class="btn_type1 btn_blue" href="/homepage/archive/publicing/research-data">바로가기</a>
                </div>
            </div>
        </div>
    </div>
    <div sec:authorize="!isAuthenticated()"></div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /* <![CDATA[ */
            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>
