<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content" data-menu="homepage-7">
    <div sec:authorize="isAuthenticated()">
        <div class="title">
            <h2>미디어리터러시 관리</h2>
        </div>

        <div class="tableLeftResponsive">
            <table class="tableLeft">
                <colgroup>
                    <col style="width: 200px">
                    <col style="width: auto">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">작성일</th>
                        <td>
                            <div class="bl_dateRange">
                                <input type="text" id="startDate" class="el_datePicker sdate">
                                <span class="blank">~</span>
                                <input type="text" id="endDate" class="el_datePicker edate">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">검색</th>
                        <td>
                            <div class="d-flex gap-2">
                                <select id="containTextType" class="common_select">
                                    <option value="1">전체</option>
                                    <option value="2">제목</option>
                                </select>
                                <input type="text" id="containText" class="hp_w600">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bl_gridBtns">
            <div class="bl_gridBtns_md">
                <div class="btn btnDefault btnReset">리셋</div>
                <div class="btn btnDefault btnSearch">검색</div>
                <a class="btn btnDefault btnRegister" href="/homepage/archive/publicing/publication/">등록</a>
            </div>
        </div>

        <!-- BOARD : CONTROLLER -->
        <div class="bl_boardCtrls">
            <div class="bl_boardCtrls_lft">
                <p class="bl_boardCtrls_total">총: <strong th:text="${pageable.totalElements}"></strong>건</p>
                <select class="common_select" data-list="countSortList"></select>
            </div>
        </div>

        <div class="tableResponsive overflowMulti">
            <table class="table">
                <colgroup>
                    <col style="width: 50px">
                    <col>
                    <col>
                    <col style="width: 100px">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성일</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>
                <tbody th:if="${content != null && content.size > 0}">
                <tr th:each="item, stat: ${content}">
                    <td>
                        <span th:text="${pageable.totalElements - ((pageable.page * pageable.size) + stat.index)}">1</span>
                    </td>
                    <td>
                        <a th:if="${item.sequenceNo != null}" th:href="@{/homepage/archive/publicing/publication/{id}(id=${item.sequenceNo})}" class="d-flex">
                            <span class="hp_ellipsis" th:if="${item.title != null}" th:text="${item.title}">제목입니다.</span>
                        </a>
                    </td>
                    <td th:if="${item.createDateTime != null}" th:text="${#strings.substring(item.createDateTime,0,10)}">2022.10.01</td>
                    <td th:if="${item.viewCnt != null}" th:text="${item.viewCnt}">2</td>
                </tr>
                </tbody>
                <tbody th:unless="${content != null && content.size > 0}">
                <tr class="empty_data"><td colspan="4">조회된 내용이 없습니다.</td></tr>
                </tbody>
            </table>
        </div>

        <div class="bl_paginate"></div>
    </div>
    <div sec:authorize="!isAuthenticated()"></div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /* <![CDATA[ */
            $(".btnSearch").bind('click',function (){
                let searchQuery = {};
                let teamCategory = $("#teamCategory").val()
                let startDate = $("#startDate").val();
                let endDate = $("#endDate").val();
                let containText = $("#containText").val();
                let containTextType = $("#containTextType").val();

                let types=$("input[name=types]:checked").length>0 ? new Array(  $("input[name=types]:checked").length ) :"0";
                $("input[name=types]:checked").each(function(index, item) {
                    if($(this).val()!="0" &&types!="0"){
                        types[index] = $(this).val();
                    }else{
                        types = "0";
                    }
                })
                if(types&&types!="0"){
                    searchQuery.types = types.toString();
                }

                if (teamCategory){
                    searchQuery.teamCategory = teamCategory;
                }
                if (startDate){
                    searchQuery.startDate = startDate;
                }
                if (endDate){
                    searchQuery.endDate = endDate;
                }
                if(containText){
                    searchQuery.containText = containText;
                    searchQuery.containTextType =containTextType;
                }
                searchJson(searchQuery)
            })

            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
                pagination([[ ${pageable} ]], false)
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>
