@charset "utf-8";


/* LIBRARY */
@import url('./libs/bootstrap.min.css');
@import url('./libs/jquery-ui.min.css');
@import url('./libs/datepicker.css');
@import url('./libs/jstree/style.css');
@import url('./libs/fontawesome-free/all.css');

@import url('./font/font.css');
@import url('./reset.css');
@import url('./layout.css');
@import url('./common.css');
@import url('./button.css');
@import url('./popup.css');

/* template */
/* @import url('../base.css'); */
@import url('../common.css');

#lecture_list_wrap{
    background: #efefef;
    padding: 3px 7px;
    border: 1px solid #ccc;
}
#lecture_list_wrap:empty:after{
    display: block;
    content: "\00a0";
    width: 30px;
}

.lecture_list_wrap{
    background: #efefef;
    padding: 3px 7px;
    border: 1px solid #ccc;
    width: 150px;
}
.lecture_list_wrap:empty:after{
    display: block;
    content: "\00a0";
    width: 150px;
}