@charset "utf-8";

/* RESET ----------- */
body,input,textarea,select,button,table,option,div,strong,em,span,a,header,footer,section,nav,dl,dt,dd,ul,ol,li,i,h1,h2,h3,h4,h5,h6,p{box-sizing:border-box;}
header,footer,section,article,aside,nav,menu,figure,figcaption{display:block;}
html,body{width:100%;}
html,body,ul,ol,li,form,fieldset,legend,dt,dd{margin:0;padding:0;}
p,h1,h2,h3,h4,h5,h6,dl{margin:0;}
h1,h2,h3,h4,h5,h6{font-size:16px;}
body,input,textarea,select,button,table,option{color:#333;line-height:1.5;-webkit-text-size-adjust:100%;}
fieldset,img{border:0;}
legend{color:#333;}
button{margin:0;padding:0;border:0;background:none;}
button,a{color:#333;text-decoration:none;cursor:pointer;}
li{list-style:none;}
table{border-spacing:0;border-collapse:collapse;}
blockquote:before,blockquote:after,q:before,q:after{content:'';}
blockquote,q{quotes:' ';}
abbr,acronym{border-bottom:1px dotted;cursor:help;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
hr{display:none;}
i{font-style:normal;}