<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<body>
<div layout:fragment="content" data-menu="edu-1">
    <div sec:authorize="isAuthenticated()">
        <div class="title">
            <h2>과정 관리</h2>
        </div>

        <div class="bl_tab2 js_tab">
            <ul class="bl_tab2_menu">
                <li>
                    <a th:href="@{/education/curriculum/e-learning/{curriculumCode}(curriculumCode=${curriculumCode})}">상세</a>
                </li>
                <li>
                    <a th:href="@{/education/curriculum/e-learning/exam/{curriculumCode}(curriculumCode=${curriculumCode})}">시험</a>
                </li>
                <li class="is_active">
                    <a th:href="@{/education/curriculum/e-learning/question/{curriculumCode}(curriculumCode=${curriculumCode})}">문항</a>
                </li>
                <li>
                    <a th:href="@{/education/curriculum/reference-room/{curriculumCode}?educationType=e-learning(curriculumCode=${curriculumCode})}">자료실</a>
                </li>
            </ul>

            <div class="bl_tab2_rgt">
                <a class="btn btnDefault btnList" href="/education/curriculum">목록</a>
            </div>

            <div class="bl_tab2_body js_tab_contents">
                <div class="bl_tab2_item js_tab_item">
                    <div class="tableLeftResponsive">
                        <table class="tableLeft">
                            <colgroup>
                                <col style="width: 200px">
                                <col style="width: auto">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">카테고리명</th>
                                <th:block th:each="commonCode : ${commonCode}"
                                          th:if="${commonCode.code} == 'CTS_CTGR'">
                                    <td th:each="categoryCode : ${commonCode.subCode}"
                                        th:if="${categoryCode.code == educationCategoryCode}"
                                        th:text="${categoryCode.codeName}"></td>
                                </th:block>
                            </tr>
                                <tr>
                                    <th scope="row">과정명</th>
                                    <td th:text="${curriculumName}">과정명</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tableLeftResponsive">
                        <table class="tableLeft">
                            <colgroup>
                                <col style="width: 200px">
                                <col style="width: auto">
                                <col style="width: 200px">
                                <col style="width: auto">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">난이도</th>
                                    <td>
                                        <div class="radio_box">
                                            <input id="difficulty_all" type="radio" name="difficulty" value="" th:checked="${true}">
                                            <label for="difficulty_all">
                                                <span></span>
                                                전체
                                            </label>
                                        </div>
                                        <th:block th:each="commonCode : ${commonCode}" th:if="${commonCode.code} == 'QUE_LEVEL'" >
                                            <th:block th:each="questionLevel: ${commonCode.subCode}">
                                                <div class="radio_box">
                                                    <input th:id="${questionLevel.codeName}" type="radio" name="difficulty" th:value="${questionLevel.code}" th:checked="${false}">
                                                    <label th:for="${questionLevel.codeName}">
                                                        <span></span>
                                                        <p th:text="${questionLevel.codeName}"></p>
                                                    </label>
                                                </div>
                                            </th:block>
                                        </th:block>
                                    </td>
                                    <th scope="row">상태</th>
                                    <td>
                                        <div class="radio_box">
                                            <input id="state_all" type="radio" name="state" value="" th:checked="${true}">
                                            <label for="state_all">
                                                <span></span>
                                                전체
                                            </label>
                                        </div>
                                        <div class="radio_box">
                                            <input id="state_use" type="radio" name="state" value='true'>
                                            <label for="state_use">
                                                <span></span>
                                                사용
                                            </label>
                                        </div>
                                        <div class="radio_box">
                                            <input id="state_not_use" type="radio" name="state" value='false'>
                                            <label for="state_not_use">
                                                <span></span>
                                                미사용
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">문제유형</th>
                                    <td colspan="3">
                                        <div class="radio_box">
                                            <input id="q_type_all" type="radio" name="questionType" th:checked="${true}">
                                            <label for="q_type_all">
                                                <span></span>
                                                전체
                                            </label>
                                        </div>
                                        <th:block th:each="commonCode : ${commonCode}" th:if="${commonCode.code} == 'QUES_TYPE'" >
                                            <th:block th:each="questionType: ${commonCode.subCode}">
                                                <div class="radio_box">
                                                    <input th:id="${questionType.codeName}" type="radio" name="questionType"
                                                           th:value="${questionType.code}"
                                                           th:checked="${false}">
                                                    <label th:for="${questionType.codeName}">
                                                        <span></span>
                                                        <p th:text="${questionType.codeName}"></p>
                                                    </label>
                                                </div>
                                            </th:block>
                                        </th:block>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">검색</th>
                                    <td colspan="3">
                                        <div class="d-flex-2">
                                            <select class="common_select" id="containType">
                                                <option value="1">전체</option>
                                                <option value="2">문제</option>
                                                <option value="3">내용</option>
                                            </select>
                                            <input type="text" class="hp_w600" id="containText">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="bl_gridBtns">
                        <div class="bl_gridBtns_md">
                            <div class="btn btnDefault btnSearch" onclick="goSearch()">검색</div>
                            <div class="btn btnDefault btnDownload">excel 다운로드</div>
                            <a th:href="@{/education/curriculum/e-learning/question/{curriculumCode}/regist(curriculumCode=${curriculumCode})}" class="btn btnDefault btnRegister">등록</a>
                        </div>
                    </div>

                    <div class="tableResponsive overflowMulti">
                        <table class="table">
                            <colgroup>
                                <col style="width: 50px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="chk_box">
                                            <input id="list_all" type="checkbox" name="list">
                                            <label for="list_all">
                                                <span class="me-0"></span>
                                            </label>
                                        </div>
                                    </th>
                                    <th scope="col">번호</th>
                                    <th scope="col">난이도</th>
                                    <th scope="col">문제유형</th>
                                    <th scope="col">문제</th>
                                    <th scope="col">사용여부</th>
                                </tr>
                            </thead>
                            <tbody th:if="${content != null && content.size > 0}">
                                <tr th:each="item, stat:${content}">
                                    <td>
                                        <div class="chk_box">
                                            <input id="list_1" type="checkbox" name="list">
                                            <label for="list_1">
                                                <span class="me-0"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td th:text="${pageable.totalElements - ((pageable.page * pageable.size) + stat.index)}"></td>
                                    <th:block th:each="commonCode : ${commonCode}" th:if="${commonCode.code} == 'QUE_LEVEL'">
                                        <td th:each="questionLevel : ${commonCode.subCode}"
                                            th:if="${item.examQuestionMaster.questionLevel == questionLevel.code}"
                                            th:text="${questionLevel.codeName}"></td>
                                    </th:block>
                                    <th:block th:each="commonCode : ${commonCode}" th:if="${commonCode.code} == 'QUES_TYPE'">
                                        <td th:each="questionType : ${commonCode.subCode}"
                                            th:if="${item.examQuestionMaster.questionType == questionType.code}"
                                            th:text="${questionType.codeName}"></td>
                                    </th:block>
                                    <td>
                                        <a th:href="@{/education/curriculum/e-learning/question/{curriculumCode}/{questionSerialNo}(curriculumCode=${curriculumCode}, questionSerialNo=${item.examQuestionMaster.questionSerialNo})}" class="d-flex">
                                            <span class="hp_ellipsis" th:text="${item.examQuestionMaster.questionTitle}">문제가 이곳에 출력됩니다.</span>
                                        </a>
                                    </td>
                                    <td>
                                        <span class="color_blue" th:if="${item.examQuestionMaster.isUsable == true}">사용</span>
                                        <span class="color_red" th:unless="${item.examQuestionMaster.isUsable == true}">미사용</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody th:unless="${content != null && content.size > 0}">
                            <tr class="empty_data"><td colspan="6">조회된 내용이 없습니다.</td></tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="bl_paginate">
                        <div class="bl_paginate_rgt">
                            <div class="btn btnDefault">선택삭제</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div sec:authorize="!isAuthenticated()"></div>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /* <![CDATA[ */
            const commonCode = [[ ${commonCode} ]];
            const content = [[ ${content} ]][0];
            const params = {};

            /** 초기 셋팅 */
            function onLoadSubmit() {
                console.log('commonCode: ', [[ ${commonCode} ]] )
                pagination([[ ${pageable} ]], false);

                const params = new URLSearchParams(decodeURIComponent(window.location.search).replace("?", ""));
                if(params.get("questionLevel")) { Array.from($("[name=difficulty]")).filter(data => data.value == params.get("questionLevel")).forEach(data => data.setAttribute('checked', true)); }
                if(params.get("isUsable")) { Array.from($("[name=state]")).filter(data => data.value == params.get("isUsable")).forEach(data => data.setAttribute('checked', true)); }
                if(params.get("questionType")) { Array.from($("[name=questionType]")).filter(data => data.value == params.get("questionType")).forEach(data => data.setAttribute('checked', true)); }
                if(params.get("containType")) { document.getElementById('containType').value = params.get("containType"); }
                if(params.get("containText")) { document.getElementById('containText').value = params.get("containText"); }
            }

            /** 조회 */
            function goSearch() {
                params.questionLevel = $("[name=difficulty]:checked")[0].value;
                params.isUsable = $("[name=state]:checked")[0].value;
                params.questionType = $("[name=questionType]:checked")[0].value;

                if(document.querySelector('#containText').value) {
                    params.containType = document.querySelector('#containType').value;
                    params.containText = document.querySelector('#containText').value;
                }

                const queryParams = Object.entries(params).filter(data => data[1] != null && data[1] !== '').map(data => data.join('=')).join('&')
                location.href="/education/curriculum/e-learning/question/"+ [[ ${curriculumCode} ]] +"?" + queryParams;
            }
            /* ]]> */
        </script>
    </th:block>
</div>
</body>
</html>
