<!-- FORME 강의확인서 상세보기 -->
<h3 class="subTitle">FORME 강의이력 상세보기(강의확인서)</h3>
<div class="tableLeftResponsive">
    <table class="tableLeft">
        <colgroup>
            <col style="width: 200px">
            <col style="width: auto">
        </colgroup>
        <thead>
        <tr><td colspan="2"></td></tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">사업명</th>
            <td>sdf
            </td>
        </tr>
        <tr>
            <th scope="row">제출처</th>
            <td>sdf
            </td>
        </tr>
        <tr>
            <th scope="row">학교/기관</th>
            <td>sdf
            </td>
        </tr>
        <tr>
            <th scope="row">담당자명</th>
            <td>sdf
            </td>
        </tr>
        <tr>
            <th scope="row">강사명</th>
            <td>
            </td>
        </tr>
        <tr>
            <th scope="row">총 강의시간</th>
            <td>
            </td>
        </tr>
        <tr>
            <th scope="row">강의시간표</th>
            <td style="padding:5px 0px;">
                <div class="tableResponsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" rowspan="3">차시</th>
                            <th scope="col">일시</th>
                            <th scope="col">강사</th>
                            <th scope="col">시간</th>
                            <th scope="col">언텍트 강의 유무</th>
                        </tr>
                        <tr>
                            <th scope="col" colspan="4">주제</th>
                        </tr>
                        <tr>
                            <th scope="col" colspan="4">내용</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td colspan="5" class="text-center">  강의 이력이 없습니다. </td>
                        </tr>

                        <tr>
                            <td rowspan="3">차시</td>
                            <td>일시</td>
                            <td>강사</td>
                            <td>시간</td>
                            <td>언텍트 강의 유무</td>
                        </tr>
                        <tr>
                            <td colspan="4">주제</td>
                        </tr>
                        <tr>
                            <td colspan="4">내용</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">수업지도안</th>
            <td>
            </td>
        </tr>
        <tr>
            <th scope="row">수업자료안</th>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
</div>